de-course-adf/pipeline/Ingestion.json
{
	"name": "Ingestion",
	"properties": {
		"activities": [
			{
				"name": "github",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "github",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_load_date": {
							"value": "@variables('v_load_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "stackoverflow_answers",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "stackoverflow_answer",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_file_name": {
							"value": "@variables('v_file_name')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "rest_api",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "rest_api",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_load_date": {
							"value": "@variables('v_load_date')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "stackoverflow_questions",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "stackoverflow_question",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_file_name_2": {
							"value": "@variables('v_file_name_2')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_load_date",
					"value": {
						"value": "@if(not(equals(pipeline().parameters.p_load_date, null)), pipeline().parameters.p_load_date, getPastTime(1, 'day', 'yyyyMMdd'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_file_name",
					"value": {
						"value": "@pipeline().parameters.p_file_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_file_name_2",
					"value": {
						"value": "@pipeline().parameters.p_file_name_2",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_load_date": {
				"type": "string"
			},
			"p_file_name": {
				"type": "string"
			},
			"p_file_name_2": {
				"type": "string"
			}
		},
		"variables": {
			"v_load_date": {
				"type": "String"
			},
			"v_file_name": {
				"type": "String"
			},
			"v_file_name_2": {
				"type": "String"
			}
		},
		"annotations": []
	}
}