de-course-adf/pipeline/stackoverflow_answer.json
{
	"name": "stackoverflow_answer",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"additionalColumns": [
							{
								"name": "datetime",
								"value": "@utcnow()"
							}
						],
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Source_StackoverflowPostAnswers",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Landing_StackoverflowPostAnswers",
						"type": "DatasetReference",
						"parameters": {
							"file_name": {
								"value": "@variables('v_file_name')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_file_name",
					"value": {
						"value": "@pipeline().parameters.p_file_name",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_file_name": {
				"type": "string"
			}
		},
		"variables": {
			"v_file_name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}